.full .slide.shout.right h2{
	opacity:0;
	transition: all 1s ease;

	position: absolute;
	left: -9em;
	top: 50%;

	small {
		color: #fff;
		font-size: 30px;
		text-transform: lowercase;
		transition: color 2s ease 1s;
	}
}

.full .slide.shout.right:target h2 {
	opacity:1;
	left: 0;

	small {
		color: #666;
	}
}



p,li {
	font-size: 120%;
	text-shadow: 1px 2px 0 #fff;
	font-weight: bold;
}

li {
	line-height: 1.4;
	padding-bottom: 1em;
}

p {
	line-height: 1.6;
	text-align: justify;
	text-indent: 1em;
}

.slide p {
	margin-bottom: 0;
}

h1 + p {
	text-shadow: 0 1px 1px #8D8E90
}

@mixin bottomTxt($m){
	position: absolute;
	bottom: $m;
}

@mixin yellowLinks() {
	background: yellow;
	position: absolute;
	right: 0;
	bottom: 0;
}

.mediumFont{
	font-size: 160%;
}

.slide.shout h2 {
	font-size: 80px;
}

.slide.cover{
	//background: #0092bf url(../images/html5-braille.png) no-repeat 10% 40%;
	//background-size: auto 60%;
	background-color: #8003ff;
	position: relative;

	h2{
		font-size: 3em;
		display: block;
		text-align: left;
		padding: 0 0 5% 15%;
		line-height: 1.2em;
		text-shadow: 1px 2px 0 #0078ae;
		font-weight: normal;
		color: #fff;

		span{
			color: silver;
			font-style: italic;
		}
	}

	p{
		padding: 50% 0 0 0;
		text-align: right;
		color: #fff;
		text-shadow: 1px 2px 0 #0078ae;
		font-weight: normal;
		font-size: 150%;

		a {
			color: #fff;
		}
	}
}

.gloss{
	position: absolute;
	display: block;
	width: 200%;
	height: 92%;
	top: -10em;
	left: -20em;
	z-index: 2;
	opacity: 0.2;
	background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 110%);
	visibility: visible;
	transform: rotate(-212deg);
}

.slide:after{
	background: none;
}

.slide ol li:before, .slide ul li:before {
	color: #000;
}

.hidden-notes{
	display: none;
}

.mini-bio {

	position: relative;

	.desc {
		z-index: 1;
	}

	.fundo {
		background: url(../images/minibio.jpeg) no-repeat 0 50%;
		background-size: 100%;
		opacity: 0.2;
	}
}

.marialab {
	background-image: url(../images/ml-pattern.png);
	background-repeat: repeat;
	background-position: 0;
	background-size: 20%;

	img {
		display: block;
		margin: 5% auto 0;
		max-height: 65%;
	}

	p {
		font-family: Ubuntu;
		text-align: center;
		@include bottomTxt(10%);
		width: 100%;

		&, a {
			color: #fff;
			text-shadow: 1px 2px 0px rgba(0,0,0,.5);
			text-decoration: none !important;
		}
	}
}

.lambda {
	img {
		display: block;
		margin: 10% auto 0;
		max-height: 50%;
	}

	p:not(.next) {
		text-align: center;
		@include bottomTxt(10%);
		width: 100%;
	}

	.next {
		transform: rotate(-22deg);
		position: absolute;
		top: 50%;
		left: 4%;
		background: pink;
		padding: 0 6%;
		font-size: 3em;
		margin: 0;
		text-indent: 0;
		border-radius: 10px;
	}
}

.high{
	text-align: center;
	text-indent: 0;
}

/**/

.wai-site {
	background: url(../images/WAI.png) no-repeat 50% 50%;
	background-size: 100% auto;
}


.wai-aria{
	background: url(../images/wai-aria-spec.png) no-repeat 0 0;
}

.red-box{
	border: 5px solid red;
	position: absolute;
}

.wai-aria .red-box{
	width: 405px;
	height: 45px;
	top: 30%;
	left: 5%;
}

.wai h2{
	background: url(../images/wai-temp.png) no-repeat 100% 0;
}

.aria-use {
	background: #FFF url("../images/aria-notes-use.png") no-repeat scroll 50%/100%;

	a {
		@include yellowLinks();
	}
}

.role-spec{
  background: url(../images/role-attr.png) no-repeat 10% -16%;
  background-size: 90%;
  height: 100%;
  margin-top: -40px;
  width: 100%;
}

.role-spec .red-box{
	width: 305px;
	height: 30px;
	top: 335px;
	left: 15%;
}

.aria-attr{
	font-size: 140%;
}


.wa-container{
	background: #0092bf;
	text-align: center;
	border-radius: 20px;
	padding: 30px 10px 40px;
	overflow: hidden;
}

.wa-container h3{
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}
.wa-container > div{
	display: inline-block;
	transition: all 1s ease;
}

.wa-container > div code,
.wa-container > div mark {
	display: block;
	padding: 20px;
}

.cartilha{
	background: url(../images/capa-cartilha.png) no-repeat 50% 50%;
}

.cartilha p{
	text-shadow: 1px 2px 0 #222;
}

.cartilha p {margin-top: -3em; text-align: center;	}

.html5 h2{
	background-image: url(../images/html5-badge-h-connectivity-css3-device-graphics-multimedia-performance-semantics-storage.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	padding-bottom: 20px;
}

.shout.wa h2{
	background-image: url(../images/nyan.gif);
	background-repeat: no-repeat;
	background-size: 110%;
	font-size: 600%;
	color: #333;
	margin-top: -0.7em;
	padding: 2.5em 2em 1.6em 1em;
	box-sizing: border-box;
	background-position: 0% 100%;
}

.shout.wa h2 em{
	color: #0092bf;
}

.wcag {

	h2 {
		font-size: 1em;
	}

	h3 {
		text-align: center;
		font-size: 2em;
		font-weight: bold;
	}


	span{
		display: block;
		font-weight: normal;
		text-indent: 1em;
		padding: 20px 0;
	}

	em {
		color: #666;
		font-weight: normal;
	}

}

.aria-contr {
	text-align: center;

	mark {
		display: block;
		float: left;
		padding: 5px 10px;
		margin: .4em .6em;
		border-radius: 10px;
		font-weight: bold;
		font-size: 2em;

		&.html {
			float: none;
  			display: inline-block;
		}
	}
}

.diff {
	font-size: 1.5em;
	p {
		text-indent: 0;
		mark {

			display: inline-block;
			padding: 5px 10px;
			border-radius: 10px;
			text-align: left;
		}
	}
}

.aria-other {
	background: url(../images/aria-other-use.png) 0 50% no-repeat;
	background-size: 100% auto;
	a {
		@include yellowLinks();
	}
}

.canIuse {
	background: url(../images/aria-canIuse.png) 0 50% no-repeat;
	background-size: 100% auto;
	a {
		@include yellowLinks();
	}
}

.validacao {

	background: url(../images/validacao-wai-aria.png) 0 50% no-repeat;
	background-size: 100% auto;

	h2 { 
		color: #fff;
		padding-top: 80px;
	}

	a {
		@include yellowLinks();
	}
}

.awesome {

	background: url(../images/awesome-a11y.png) 0 50% no-repeat;
	background-size: 100% auto;

	a {
		@include yellowLinks();
	}
}

.angular {
	background: url(../images/angular.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}

.bootstrap {
	background: url(../images/bootstrap.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}

.ember {
	background: url(../images/ember.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}


.ember-test {
	background: url(../images/ember-test.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}


.jquery {
	background: url(../images/jquery.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}


.react {
	background: url(../images/react.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}

.dom-inspect {
	background: url(../images/dom-inspec.png) no-repeat 50%/100%;
	a {
		@include yellowLinks();
	}
}

.slow-fadeIn {
	opacity:0;
	text-align: center;
	font-size: 180%;
}

.active .slow-fadeIn {
	opacity: 1;
	transition: opacity 2s ease 2s;
}

.fadeIn {
	opacity:0;
}

.active .fadeIn {
	opacity: 1;
	transition: opacity 1s ease;
}

.after {
	opacity:0;
	color: #999;
}

.active .after {
	opacity: 1;
	transition: opacity 2s ease 4s;
}

.smallPaddingTop {
	padding-top: 60px !important;
}