#cover {
  padding: 0;
}
#cover h2 {
  color: #861847;
  font-size: 70px;
  padding: 125px 100px 10px;
  text-align: center;
  text-shadow: 2px 2px 0px white;
  width: 70%;
}
#cover p {
  margin: 10px 0 0;
  text-align: center;
  color: #861847;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  width: 70%;
}
#cover p a {
  color: #333;
  font-weight: bold;
  font-style: normal;
  text-decoration: none !important;
}
.mnt-cover div {
  background: url(pictures/mnt-cover.png);
  height: 100%;
  background-size: cover;
  background-position-x: 50%;
}
.slide h2 {
  color: #f3214e;
}
.slide h2.shout.shrink {
  color: #861847;
}
.slide p.shout {
  color: #f3214e;
  font-size: 52px;
  line-height: 70px;
  padding: 0 80px;
}
.slide ol li,
.slide ul li {
  text-indent: 0;
}
#picture h2 {
  color: #FFF;
}
#see-more h2 {
  font-size: 100px;
}
#see-more img {
  width: 0.72em;
  height: 0.72em;
}
