/* line 3, ../scss/styles.scss */
.slide h2 {
  color: #232323; }
/* line 7, ../scss/styles.scss */
.slide.shout.cover h2 {
  line-height: 100px;
  font-size: 100px;
  margin: 0;
  top: 60%;
  transform: none; }
/* line 17, ../scss/styles.scss */
.slide.cover > div {
  background: #fff url(../images/capa.png) no-repeat 50% -4.7em;
  background-size: 100% auto; }

/* line 25, ../scss/styles.scss */
.tim div {
  background: url(../images/tim-bl.jpg) no-repeat 50% 50%;
  background-size: 120% auto; }

/* line 30, ../scss/styles.scss */
.tim div h2 {
  color: yellow;
  text-shadow: 1px 3px 0px #000;
  margin-top: 50%; }

/* line 36, ../scss/styles.scss */
.internet {
  background: url(../images/internet.jpg) no-repeat 50% 50%; }

/* line 41, ../scss/styles.scss */
.internet h2 {
  color: yellow;
  text-shadow: 1px 3px 0px #000;
  margin-top: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 0 20px; }

/* line 49, ../scss/styles.scss */
.internet-big div {
  background: url(../images/internet-forbes.jpg) no-repeat 50% 50%; }
/* line 51, ../scss/styles.scss */
.internet-big div h2 {
  color: #fff;
  text-shadow: 4px 5px 0px #000; }

/* line 57, ../scss/styles.scss */
#infografico {
  position: absolute; }

/* line 61, ../scss/styles.scss */
.vanessa div {
  background: url(../images/vanessa_2.jpg) no-repeat 0% 110px;
  background-size: 30% auto;
  padding-left: 17em; }
